# Inteligencia Artificial y PLN
openai
google-cloud-speech

# Interfaz de usuario y web
streamlit
requests
beautifulsoup4

# Audio y Voz
gTTS
sounddevice
scipy
numpy
noisereduce
soundfile

# Utilidades y Documentos
python-dotenv
python-docx