
# Backend Requirements (`backend/requirements.txt`)

fastapi
uvicorn
sqlalchemy
pymysql
pydantic
mangum


# Frontend Requirements (`frontend/requirements.txt`)

# Artificial Intelligence and NLP
openai
google-cloud-speech

# User Interface and Web
streamlit
requests
beautifulsoup4

# Audio and Voice
gTTS
sounddevice
scipy
numpy
noisereduce
soundfile

# Utilities and Documents
python-dotenv
python-docx

